
div.open_tortoise_svn_icon
{
   position: fixed;
   display: block;
   padding: 0px 0px 0px 24px;
   margin: 0px;
   border: 2px solid rgba(0, 0, 0, 0.95);
   border-radius: 2px;

   width: auto;
   height: 22px;
   background-image: url('chrome-extension://__MSG_@@extension_id__/icons/icon32.png');
   background-repeat: no-repeat;
   background-position: left center;
   background-color: rgba(255, 255, 255, 0.95);
   background-size: auto 22px;

   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);

   transition: opacity 400ms;
   opacity: 1;
}

div.open_tortoise_svn_icon.open_tortoise_svn_icon_fadeout
{
   opacity: 0;
}

div.open_tortoise_svn_icon > span
{
   display: inline-block;

   padding: 0px 2px;
   margin: 0px;
   line-height: 22px;
   vertical-align: middle;
   font-size: 14px;
   background-color: rgba(0, 0, 0, 0.95);
   color: #FFF;
}

